resourceModificationCheck="60000"
allowedClasses=""
localizedLookup="false"
macroLibrary="FTL_liferay.ftl\ as\ liferay"
restrictedVariables=["staticUtil","utilLocator","objectUtil","staticFieldGetter"]
restrictedClasses=["java.lang.Class","java.lang.ClassLoader","java.lang.Thread"]
templateExceptionHandler="rethrow"
